body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
   
}
.mission{
    color: rgb(142, 35, 35);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left:5%;
   
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    background-color: rgba(221, 138, 13, 0.932);
    padding: 10px 40px;
}
.half-width dream-big img{
    width: 20%;
    padding-right:200%;

}
.experience-iteam{
    box-shadow:  2px 2px 2px 5px rgb(36, 34, 34);;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3%;
    padding-bottom: 10px;
    margin-top: 10px;
}
.experience-area{
    display: flex;
   
}
.text{
    text-align: center;
     color: rgb(204, 0, 255);;
}
.heading{
    text-align: center;
}

.mission{
    width: 50%;
    padding-left:5%;
}
.vission{
    width: 50%;
    padding-left:5%;
}
.goals{
    width: 50%;
    padding-left:5%;

}
.box {
    display: flex;
}
.shadow{
    
    border-left: 5px solid orange;
}
.footer{
    text-align: center;
    background-color: rgb(16, 16, 61);
    font-family: 'Lobster', cursive;
    color: aliceblue;
}
.orange-color{
    color: rgb(255, 0, 0);