body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
   
}
.mission{
    color: rgb(142, 35, 35);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    background-color: rgba(221, 138, 13, 0.932);
    padding: 10px 40px;
}
.half-width dream-big img{
    width: 20%;
    padding-right:200%;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3%;
    padding-bottom: 10px;
    margin-top: 10px;
}